# folders and virtual environments
test_scripts/
dump_scripts/
__pycache__/
windows_env/
linux_env/
build_env/
build/
release/
user_devserver_settings.json

# temp files, swap files, test files, ctags, linter settings... the works
*.swp
*.swo
*.json
*.lua
*.xml
tags*
.pylintrc
*.spec
